.work-subtitle {
   margin: auto;
   text-align: center;
}

.our-work-title {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 5vh;
   z-index: 6;
   color: white;
   -webkit-text-stroke-width: 3px;
             -webkit-text-stroke-color: black;
 }
 .trim {
background-image: url('../images/work/trim.JPG');
background-size: 100% 100%;
height: 50vh;
width: 100%;
 }
 .moulding {
   background-image: url('../images/work/moulding.jpg');
   height: 50vh;
   background-size: 100% 100%;
   width: 100%;
 }
 .cabinets {
   background-image: url('../images/work/cabinets.jpg');
   height: 50vh;
   background-size: 100% 100%;
   width: 100%;
 }