body {
  background-color: black;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
/* ken burns effect */
/* homepage effects */

.kenBox {
  text-align: center;
  padding-top: 1rem;
}
.slideshow2 {
  position: relative;

height: 90vh;
  overflow: hidden;
  
}


.slideshow-image2 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  background: no-repeat 25% 25%;
  background-size: cover;

  animation-delay: 5s;

  opacity: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/Woodwork.jpg");
 
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}



/* navigation effect */
.overlay {
 
  position:fixed; left: 0; bottom: 0; width: 100vw; margin: 0;
 height: 100vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),url('./images/woodBackground.jpg');
background-size: 100% 100%;
  z-index: 95;
}
.overlay-inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden {
  display: none;
}
.nav-text {
	font-size:6vh;
	position: relative;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
  color: white;
  font-weight: bolder;
  -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;

}
.nav-text:hover {
	transform: skew(10deg);
}
/* text that pops out */
.nav-text::before {
	content: attr(data-name);
	position: absolute;
  font-size: 6vh;
	overflow: hidden;
	transition: all 500ms ease;
}
.nav-text:hover::before {
	top: -3px;
	left: 0px;
	color: white;
}
/* line that cuts between the word */ 
.nav-text::after {
	content: "";
	height: 10%;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-image: url('./images/woodBackground.jpg');
  border-radius: 50%;
	transition: all 300ms ease; /* line */ 
  z-index: 6;
}
.nav-text:hover::after {
	width: 120%;
}

/* navigation  */
#about {
  border: 1px solid green;
  padding: -5rem;
}
.navigation {
  position: fixed;
  top: 0;
  padding: .5rem;
  z-index: 99;
  left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
  
}

.logo {
  margin: auto;
}

.navbar-toggler-icon {
  color: white;
  background-image: url("./images/burger.png");
  background-size: 200% 200%;
}
.nav-icon {
  text-align: center;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  background-color: black;
}
.nav-icon:hover {
  cursor: pointer;
}
.company-title {
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-text-stroke-width: 3px;
            -webkit-text-stroke-color: black;
}
/* work page */
.workPage {
  border: 5px solid green;
}
.work-slide {
  text-align: center;
  align-items: center;
}
.work-text {
  padding: 2rem;
  text-align: center;
}
.slideshow-image {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
}
.list {
  margin:auto;
}
/* about us */

.aboutPage {
  height: 100vh;
  padding-top: 5rem;
  border: 5px solid green;
}


/* contact us */ 

.wood-background {
 
 
  z-index: -1;
  height: 60vh;
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/woodVariety.jpg');
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.wood-types {
  text-align: center;
 font-size: 2rem;
  color: white;
  margin-top: 10rem;
}
/* reviews  */

.reviews {
padding-top: 10rem;
border: 5px solid green;
}



/* contact us */
.contact {
}