body {
  background-color: black;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
  

}

.navbar {
  
  position: sticky; top: 0;
  padding: 1rem;
  z-index: 99;
}
.logo {
  margin: auto;
}
.navbar-toggler {
  color: white;
}
.navbar-toggler-icon {
  color: white;
  background-color: darkblue;
}
.nav-icon {
  text-align: center;
  padding: .5rem;
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
}
.nav-icon:hover {
cursor: pointer;
}
.company-title {
  
  text-transform: uppercase;
  font-weight: bolder;
}
/* work page */
#work {
  padding-top: -10rem;
  border: 1px solid green;
}
.workPage {
  height: 100vh;
}
.work-text {
  padding: 2rem;
  text-align: center;
}


/* about us */
#about {
  position: absolute;
  padding-top: -10rem;
  border: 1px solid green;
}
.aboutPage {
  height: 100vh;
}