body {
  background-color: black;
  color: white;
}
body::-webkit-scrollbar {
  display: none;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
/* ken burns effect */
/* homepage effects */

$items: 3;
$animation-time: 4s;
$transition-time: 0.8s;
$scale: 20%;

$total-time: ($animation-time * $items);
$scale-base-1: (1 + $scale / 100%);
.kenBox {
  text-align: center;
  padding-top: 1rem;
}
.slideshow2 {
  position: relative;

height: 90vh;
  overflow: hidden;
  
}


.slideshow-image2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: no-repeat 25% 25%;
  background-size: cover;
  animation-name: kenburns;
  animation-delay: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: $total-time;
  opacity: 1;
  transform: scale($scale-base-1);

  @for $i from 1 through $items {
    &:nth-child(#{$i}) {
      animation-name: kenburns-#{$i};
      z-index: ($items - $i);
    }
  }
}

@for $i from 1 through $items {
  @keyframes kenburns-#{$i} {
    $animation-time-percent: percentage($animation-time / $total-time);
    $transition-time-percent: percentage($transition-time / $total-time);

    $t1: ($animation-time-percent * ($i - 1) - $transition-time-percent / 2);
    $t2: ($animation-time-percent * ($i - 1) + $transition-time-percent / 2);
    @if ($t1 < 0%) {
      $t1: 0%;
    }
    @if ($t2 < 0%) {
      $t2: 0%;
    }

    $t3: ($animation-time-percent * ($i) - $transition-time-percent / 2);
    $t4: ($animation-time-percent * ($i) + $transition-time-percent / 2);
    @if ($t3 > 100%) {
      $t3: 100%;
    }
    @if ($t4 > 100%) {
      $t4: 100%;
    }

    $t5: (100% - $transition-time-percent / 2);
    $t6: (($t4 - $t1) * 100% / $t5);

    #{$t1} {
      opacity: 1;
      transform: scale($scale-base-1);
    }
    #{$t2} {
      opacity: 1;
    }
    #{$t3} {
      opacity: 1;
    }
    #{$t4} {
      opacity: 0;
      transform: scale(1);
    }

    @if ($i != $items) {
      100% {
        opacity: 0;
        transform: scale($scale-base-1);
      }
    }

    @if ($i == 1) {
      $scale-plus: ($scale * (100% - $t5) / $t4);
      $scale-plus-base-1: (1 + ($scale + $scale-plus) / 100%);

      #{$t5} {
        opacity: 0;
        transform: scale($scale-plus-base-1);
      }
      100% {
        opacity: 1;
      }
    }
  }
}
/* navigation effect */
.overlay {
 
  background-color: black;
  height: 100vh;
}
.hidden {
  display: none;
}
h1 {
	font-size: 1.5rem;
	position: relative;
	text-transform: uppercase;
	transition: all 300ms ease;
	width: fit-content;
	cursor: pointer;
}
h1:hover {
	transform: skew(10deg);
}
h1::before {
	content: attr(data-name);
	position: absolute;
	top: 0;
	left: -20px;
	background: var(--bgcolor);
	height: 3rem;
	overflow: hidden;
	transition: all 300ms ease;
	padding-left: 20px;
}
h1:hover::before {
	top: -3px;
	left: 0px;
	color: white;
}

h1::after {
	content: "";
	height: 5%;
	width: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	transition: all 300ms ease; /* line */ 
  z-index: -1;
}
h1:hover::after {
	width: 120%;
	outline: 5px solid rgb(2, 0, 36);
}

/* navigation  */
#about {
  border: 1px solid green;
  padding: -5rem;
}
.navigation {
  position: fixed;
  top: 0;
  padding: .5rem;
  z-index: 99;
}

.logo {
  margin: auto;
}

.navbar-toggler-icon {
  color: white;
  background-image: url("./images/burger.png");
  background-size: 200% 200%;
}
.nav-icon {
  text-align: center;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  background-color: black;
}
.nav-icon:hover {
  cursor: pointer;
}
.company-title {
  text-transform: uppercase;
  font-weight: bolder;
}
/* work page */
.workPage {
  border: 5px solid green;
}
.work-text {
  padding: 2rem;
  text-align: center;
}
.slideshow-image {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
}
.list {
  margin:auto;
}
/* about us */

.aboutPage {
  height: 100vh;
  padding-top: 5rem;
  border: 5px solid green;
}


/* contact us */ 

.wood-background {
 
 
  z-index: -1;
  height: 60vh;
 
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./images/woodVariety.jpg');
background-size: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.wood-types {
  text-align: center;
 font-size: 2rem;
  color: white;
  margin-top: 10rem;
}
/* reviews  */

.reviews {
padding-top: 10rem;
border: 5px solid green;
}



/* contact us */
.contact {
}