body {
  background-color: white;
  color: black;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
/* homepage effects */

.slideshow-master {
  position: relative;

  height: 90vh;
  overflow: hidden;
}

.hero-image-container {
  width: 100vw;
}
/* navigation effect */
.overlay {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("./images/woodBackgroundBest.png");
  background-size: 100% 100%;
  z-index: 95;
}
.overlay-inner {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hidden {
  display: none;
}
.nav-text {
  font-size: 6vh;
  position: relative;
  text-transform: uppercase;
  transition: all 300ms ease;
  width: fit-content;
  cursor: pointer;
  font-weight: bolder;
  color: white;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: black;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-text:hover {
  transform: skew(10deg);
  text-decoration: none;
  color: white;
}
/* text that pops out */
.nav-text::before {
  content: attr(data-name);
  position: absolute;
  font-size: 6vh;
  overflow: hidden;
  transition: all 500ms ease;
}
.nav-text:hover::before {
  top: -3px;
  left: 0px;
}
/* line that cuts between the word */
.nav-text::after {
  content: "";
  height: 6%;
  width: 0;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  background-image: url("./images/woodBackground.jpg");
  border-radius: 50%;
  transition: all 400ms ease; /* line */
  z-index: 6;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.nav-text:hover::after {
  width: 120%;
}

// #header-text-container {
//   margin-top: 10px;
// }

#main-logo {
  width: 75px;
  height: 75px;
  display: flex;
  margin: 10px;
}

// .navigation {
//   position: fixed;
//   top: 0;
//   padding: 0.5rem;
//   z-index: 99;
//   left: 50%;
//   transform: translate(-50%, 0);
//   cursor: pointer;
// }

.logo {
  margin: auto;
}

.navbar-toggler-icon {
  color: white;
  background-image: url("./images/burger.png");
  background-size: 200% 200%;
}
.nav-icon {
  text-align: center;
  padding: 0.5rem;
  color: white;
  text-decoration: none;
  border: 1.5px solid white;
  background-color: black;
}
.nav-icon:hover {
  cursor: pointer;
}
.company-title {
  text-transform: uppercase;
  font-weight: bolder;
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white;
}
/* work page */

.work-slide {
  text-align: center;
  align-items: center;
}
.work-text {
  padding: 2rem;
  text-align: center;
  color: white;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  text-decoration: none;
}
.slideshow-image {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
}
.list {
  margin: auto;
}
/* about us */

.aboutPage {
  padding-top: 2rem;
}

.about-text {
  font-size: 4vh;
}
.work-photo {
  padding: 1rem;
}
/* contact us */

.wood-background {
  z-index: -1;
  height: 60vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/woodVariety.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;

  background-size: cover;
}
.wood-types {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin-top: 10rem;
}
/*.wood-border {
  border: 12px solid transparent;
  border-image: url("./images/woodTexture.jpg") 111 round;
  border-bottom: none;
}
/* reviews  */

.reviews {
  padding-top: 2rem;
}
.review-box {
  background-color: #4180cb;
  margin: 2rem;
  padding-bottom: 2rem;
}
.review-image {
  width: 100%;
  height: auto;
  margin: 10px;
}
/* contact us */

/* footer  */
.footer {
  background-image: url("./textures/palewood.jpg");
  background-size: auto;
  color: black;

  .links {
    ul {
      list-style-type: none;
    }
    li a {
      color: white;
      transition: color 0.2s;
      &:hover {
        text-decoration: none;
        color: #4180cb;
      }
    }
  }
  .about-company {
    i {
      font-size: 25px;
    }
    a {
      color: white;
      transition: color 0.2s;
      &:hover {
        color: #4180cb;
      }
    }
  }
  .location {
    i {
      font-size: 18px;
    }
  }
  .copyright p {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
  }
}
.employee-login {
  color: black;
  text-align: center;
  text-decoration: none;
}

.styled-hr {
  border: 4px solid #55342b;
}
